*{
	margin: 0;
	padding: 0;
}

body{
	background: url('../images/bgImage.png') no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.p{
	float: right;
 	margin: 0px 5px 0px 0px;
	font-style: italic;
	color: #fff;
}

			/*SIGNIN FORM*/

#signin{
	position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 10px;
    transform: translate(-50%,-50%);
    box-shadow: 1px 32px 59px;
}


#signin input, #signin button{
	display: block;
	margin: 10px auto;
}

#signin button{
	border: 1px solid #000;
	padding: 3px 10px;
}

#signin input{
	width: 90%;
	border: 2px solid #FD3A74;
}

.fa-user-tie{
	font-size: 40px;
}

/*REGISTER FORM*/


#register form{
	background: #fff;
	width: 30%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

#register input{
	display: block;
	width: 100%;
	margin: 5px auto;
}

#register button{
	display: block;
	margin: auto;
}

/*HOME PAGE*/

#canvas{
		    width: 90%;
		    min-height: 90vh;
		    display: flex;
		    background: #000306;
		    margin: auto;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
	}

	#canvas li{
		list-style: none;
	}

	#canvas #username{
		display: flex;
		place-items:center;
		border: 1px solid #fff;
		padding: 10px;
		background: #0F90F2;
		height: 63px;
	}

	#sender p{
		position: relative;
		background:#cbe8f0;
		width:70%;
		margin-left:30px;
		border-radius:2px;
	}

		#me p{
			position: relative;
			background:#FD3A74;
			width:70%;
			margin-right:30px;
			border-radius:2px;
		}


	#sender p:after{
		 content:'';
 		 position:absolute;
		 border:10px solid transparent;
		  border-top:10px solid #cbe8f0;
		  top:0px;	
		  left:-10px;
	}

	#me p:after{
		 content:'';
  		position:absolute;
 		 border:10px solid transparent;
  		border-top:10px solid #FD3A74;
  		top:0px;
  		right:-10px;
	}

	#me div{
		display: flex;
		justify-content: flex-end;
	}

	#username #logout{
		margin-left: auto;
	}

	#user{
		padding: 5px;
	}


	#user li{
		margin: 5px auto;
	}

	#user a{
		color: #fff;
	}

	#user img{
		width: 30px;
		border-radius: 50%;
	}


	#userCanvas {
		width: 30%;
		border: 2px solid #fff;
	}

	#userCanvas button{
		margin: 0 auto;
		display: block;
	}

	#button{
		border-bottom: 1px solid #fff;
		padding: 17px;
		background: #0F90F2;
	}

	#chatBox{
		width: 70%;
		border: 2px solid #fff;
	}

	#chatBox #msgBox{
		padding: 5px;
	}

	#canvas img{
		width: 30px;
		border-radius: 50%;
	}

	#msgBox:hover{
		overflow-y: scroll;
	}

	#msgArea{
		position: absolute;
	    width: 68%;
	    bottom: 0;
	}

	#sender{
		display: flex;
	}

	#logout{
		background: #FD3A74;
    	padding: 6px;
	}

	#userMsg{
		display: flex;
		margin-top: 10px;
	}

	#userMsg button{
		border-radius: 50%;
    width: 50px;
    background: #0F90F2;
	}

	#me #typed{
		margin-right: 50px;
	}

	.fa-paper-plane{
		color: red;
	}






